
body {
    width: 960px;
    background: #777;
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
}

#header {
    background: #ebebeb;
    padding: 10px;
    margin: 10px;
}

#nav {
    background: #ebebeb;
    padding: 10px;
    margin: 10px;
}

.bigsection::after {
    content: "";
	display: block;
    clear: both;
    width: 960px;
    background: #ebebeb;
    margin: 0 auto;
}

.smallsection {
    width: 495px;
    background: #ebebeb;
    padding: 10px;
    margin: 10px 5px 10px 10px;
    float: left;
}

.tinysection {
    padding: 10px;
}

#article {
    background: #777;
    color: #ebebeb;
    padding: 10px;
    margin: 10px;
}

#h1 {
    background: #ebebeb;
    color: #777;
    padding: 5px;
    margin: 10px;
}

#paragraph {
    background: #ebebeb;
    color: #777;
    padding: 5px;
    margin: 10px;
}

.aside {
    width: 390px;
    height: 360px;
    background: #ebebeb;
    padding: 10px;
    margin: 10px 10px 10px 5px;
    float: left;
}

footer {
    background: #ebebeb;
    padding: 10px;
    margin: 10px;
}

